.flex-container a:hover,
.flex-slider a:hover {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 27px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }

.flexslider .slides {
  zoom: 1; }

.flexslider .slides img {
  height: auto;
  -moz-user-select: none; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

body {
  font-family: "Century Gothic";
  font-size: 16px;
  line-height: 28px; }

.intro {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background: url("../images/banner-top.jpg") no-repeat center top;
  height: 100vh;
  background-size: 100%;
  background-attachment: fixed; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
  font-weight: bold; }

.content {
  padding-top: 150px; }

.navbar-default {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background-color: transparent;
  border-color: transparent; }

.navbar {
  margin-top: 35px; }

.navbar-default .navbar-nav > li > a {
  color: #000; }

ul.social-network {
  list-style: none;
  display: inline-block;
  margin-left: 0 !important;
  padding: 10px 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505; }

.social-network a.icoFacebook:hover {
  background-color: #3B5998; }

.social-network a.icoTwitter:hover {
  background-color: #33ccff; }

.social-network a.icoGoogle:hover {
  background-color: #BD3518; }

.social-network a.icoVimeo:hover {
  background-color: #0590B8; }

.social-network a.icoLinkedin:hover {
  background-color: #007bb7; }

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color: #fff; }

a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD; }

.social-circle a {
  border: 1px solid #000; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px; }

.social-circle li i {
  margin: 0;
  line-height: 17px;
  text-align: center;
  position: relative;
  top: -1px; }

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #000;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.title {
  font-size: 27px;
  line-height: 33px; }

.shadow_title {
  background: url(../images/shadow-title.jpg) no-repeat left bottom;
  padding-left: 30px;
  background-size: 100%;
  padding-bottom: 24px; }

.red {
  color: #fc4519; }

.chasingtitles-section {
  padding: 78px 0; }
  .chasingtitles-section p {
    padding: 0 30px; }

.chasingtitles_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sub_title {
  font-size: 27px; }

.head_title {
  font-size: 37px;
  margin: 0;
  padding: 25px 0; }

.flex-prev {
  background: url(../images/arrow-left.jpg) no-repeat left top;
  width: 71px;
  height: 71px;
  display: inline-block;
  text-indent: -9999px; }

.flex-next {
  background: url(../images/arrow-right.jpg) no-repeat right top;
  width: 71px;
  height: 71px;
  display: inline-block;
  text-indent: -9999px; }

.flex-direction-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px; }
  .flex-direction-nav li {
    margin: 0 33px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }
    .flex-direction-nav li:hover {
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -ms--transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }

.shadow_top {
  background: url(../images/slide-shadow.jpg) no-repeat center top; }

.shadow_bottom {
  background: url(../images/slide-shadow.jpg) no-repeat center bottom; }

.cast_person .thumbnail {
  border: 0;
  margin-bottom: 70px; }

.cast_person h3 {
  color: #454545;
  font-size: 23px;
  line-height: 32px; }

.head_padding {
  padding: 45px 0 30px; }

.credits-section {
  padding: 50px 0; }

.styles_inline {
  padding: 20px 0; }

.footer {
  padding: 20px 0;
  background: #000; }
  .footer .list-inline > li {
    padding: 0; }
  .footer .list-inline li:last-child a {
    border-right: 0; }
  .footer .list-inline a {
    border-right: 1px solid #fff;
    padding: 0 14px 0 10px;
    position: relative;
    font-size: 11px;
    color: #fff;
    font-weight: normal; }

.activeMenu.navbar {
  margin-top: 0;
  background: #E9E9EB;
  border-bottom: 1px solid #ccc; }

.activeMenu .navbar-nav > li > a {
  padding-top: 19px;
  padding-bottom: 19px; }

.activeMenu img {
  max-width: 75%; }

.activeMenu.navbar-default .navbar-brand {
  padding: 5px; }

.activeMenu ul.social-network {
  padding: 15px 0 0; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: transparent; }
